
h1= title

#tags
    #tagHeader Tags
    - for (var key in tags)
        .tag
            a(href='/tags/'+tags[key])= tags[key]
    .tag
        a(href='/') all
#articles
    - for (var key in output)
        .article
            .title
                a(href='/post/'+output[key].hashURL)= output[key].header
                .date= output[key].time
            .tags Tags:
                = output[key].tags
            .body!= output[key].content