
h1= title

#sidebar
    #tags
        #tagHeader Tags
        - for (var key in tags)
            .tag
                a(href='/tags/'+tags[key])= tags[key]
        .tag
            a(href='/') all
    #archives
        #archiveHeader Related
        a(href='http://www.froggyfish.net') FroggyFish 
        a(href='http://www.wickedoast.net') WickedToast 
        a(href='http://www.marcinmanek.com') Me 
#articles
    - for (var key in output)
        .article
            .title
                a(href='/post/'+output[key].hashURL)= output[key].header
                .date= output[key].time
            .tags Tags:
                = output[key].tags
            .body!= output[key].content