
h1.pageTitle= title

#articles
    - for (var key in output)
        .article
            .title
                .date= output[key].time
                - if (mode=='index')
                    a(href='/post/'+output[key].hashURL+'#disqus_thread', data-disqus-identifier=output[key].hashURL, class='commentCount') NT
                a(href='/post/'+output[key].hashURL)= output[key].header
            .tags Tags:
                = output[key].tags
            .body!= output[key].content
            - if (mode=='post')
                #disqus_thread
                script(type='text/javascript')
                    var disqus_shortname = 'codesquares';
                    var disqus_identifier = '#{output[key].hashURL}';
                    var disqus_url = 'http://www.codesquares.com/post/#{output[key].hashURL}';

                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                a(href='http://disqus.com') blog comments powered by Disqus

#sidebar
    #archives
        #archiveHeader Related
        a(href='/ping') Ping.
        a(href='http://forums.tigsource.com/index.php?topic=41974.0') Ping @ TigSource
        a(href='/dweller') Dweller
        a(href='http://www.marcinmanek.com') Me
        a(href='/xml') RSS Feed
        a(href='/about') about codesquares
        - if (page > 0)
            a(href='/'+((page*1)-1))= (page*1) - 1
        a(href='/'+((page*1)+1))= (page*1) + 1
    #tags
        #tagHeader Tags
        - for (var key in tags)
            .tag
                a(href='/tags/'+tags[key])= tags[key]
        .tag
            a(href='/') all

- if (mode == 'index')
    script(type='text/javascript')
        var disqus_shortname = 'codesquares'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
