!!! xml
rss(version='2.0', xmlns:dc='http://purl.org/dc/elements/1.1/')
    channel
        title= title
        link http://www.codesquares.com
        description Code[][]
        language en-us
        - for (var key in output)
            item
                guid http://www.codesquares.com/post/#{output[key].hashURL}
                title= output[key].header
                description
                    :cdata
                        !{output[key].content}
                dc:creator Marcin M
                pubDate= output[key].time